# Servidor
PORT=3000
NODE_ENV=development

# MongoDB Atlas
MONGO_URI=mongodb+srv://thecrazypardo:Fernandito1234@cluster0.atypcxd.mongodb.net/bildyapp?appName=Cluster0

# JWT
JWT_SECRET=9a316fbb687e4484d5f105edb87082edfce2b921f4eeabef1699723f47e19137
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_SECRET=13bdfad42a39a436e9cfd76e71c27118e7faa06dc4a524ce693751b633044e4d
JWT_REFRESH_EXPIRES=7d

# Uploads
MAX_LOGO_SIZE_MB=5

# Rate limit
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100
